#background-color {
    background-color: #FBD16E;
}

.black-text {
    color: #000;
}

.col-pad-top {
    padding-top: 100px !important;
}

.img-pad-top {
    padding-top: 30px !important;
}

@media screen and (max-width: 760px) {  

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .center {
    width: 75%;
    position: relative;
    order: 1;
    }

    .left {
        width: 75%;
        position: relative;
        order: 2;
    }

    .right {
        width: 75%;
        position: relative;
        order: 3;  
    }

}